<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="center">
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            <div class="txt_field">
                <input type="text" name="username" required>
                <span></span>
                <label>Usuario</label>
            </div>
            <div class="txt_field">
                <input type="password" name="password" required>
                <span></span>
                <label>Contraseña</label>
            </div>
            <div class="pass"><a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a></div>
            <input type="submit" value="Entrar">
            <div class="signup_link">
                No tienes cuenta? <a href="{% url 'signup' %}">Crea una</a>
            </div>
        </form>
    </div>
</body>
</html>
