<!DOCTYPE html>
<html>
<head>
    <title>Nuestros Servicios</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Turismo Extremo Sur</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'servicios' %}">Nuestros Servicios</a></li>
                <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Nuestros Servicios</h2>
        <ul>
            {% for servicio in servicios %}
            <li>
                {% if servicio.foto %}
                    <img src="{{ servicio.foto.url }}" alt="Foto de {{ servicio.descripcion }}">
                {% endif %}
                <p>{{ servicio.descripcion }}</p>
                <p>Precio: ${{ servicio.precio }}</p>
            </li>
            {% endfor %}
        </ul>
    </main>
    <footer>
        <p>hola</p>
    </footer>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>

